<%- include('templates/header',{
    title:'Bienvenido a...',
    descripcion: 'esta es la descripcion'
})%>

<main class="my-5 container">
    <h1><%=titulo%></h1>
    <p><%=descripcion%></p>
</main class="my-5 container">

<%- include ('templates/footer') %> 

